:root {
  /* Primary Colors */
  --color1: rgba(97, 23, 67, 1);
  --color2: rgba(230, 124, 187, 1);
  --color3: rgba(173, 42, 121, 1);
  /* Text Colors */
  --textcolorlight:white;
  --textcolordark:black;
  --textcolorgray:gray;
  --textcolorhighlighted:rgba(224, 54, 156, 1);
  /* Box Shadowing */
  --boxshadow:0 2px 4px 0 rgba(137, 124, 124, 0.2);
  --boxshadowhover:0 16px 32px 0 rgba(224, 54, 156, 0.2);
}
html * {
  font-family: sans-serif;
}
h1 {
  font-weight: 400;
}
h3 {
  font-weight: bold;
  font-size:larger;
}
.card-content h3 a i:hover {
  margin-left: 10px;
  margin-right: 10px;
  font-size:1em;
  transition: .5s ease-out;
  transform: scale(1.5);
}
h5 {
  padding: 5px;
  color: var(--textcolorgray);
}
header {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color1);
  color: var(--textcolorlight);
  text-align: center;
}
#navbar {
  overflow: hidden;
  position:fixed;
  width: 100%;
  background-color: var(--color3);
  border-bottom: solid 15px var(--primarycolor);
}
#navbar a {
  float: left;
  display: block;
  color: var(--textcolor);
  padding: 14px 16px;
  text-decoration: none;
}
#navbar a:hover {
  color: var(--textcolorhighlighted);
  background-color: var(--color2);
}
H2 {
  text-align: left;
  color: var(--color1);
}
#container {
  padding-bottom: 5%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}
.card-row {
  box-shadow: var(--boxshadow);
  transition: 0.2s;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.card-row:hover {
  box-shadow: var(--boxshadowhover);
}
.card-content {
  padding: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
.column {
  float:left;
  width: 50%;
}
.card-row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  padding: 3%;
  width: 50%;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;	
}
footer {
  background-color: var(--color1);
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer p {
  text-align: center;
  color: var(--textcolorlight);
  font-weight: 400;
  padding-right: 10px;
  font-style: italic;
}
footer a {
  float: right;
  text-decoration: none;
  color: var(--textcolorlight);
  padding-bottom: 10px;
}
footer a:hover {
  text-decoration: underline;
}